@model Pessoa
@{
    ViewData["Title"] = "Confirmação apagar pessoa";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Pessoa" role="button">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" asp-action="Apagar" asp-controller="Pessoa" asp-route-id="@Model.CPF" role="button">Confirmar exclusão</a>
