@model Pessoa
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editar Pessoa";
}

<div id="Editar_Pessoa" class="component" style="display:flex; flex-direction:row; justify-content:space-around" >
    <h4>Editar User : ID</h4>
    <a role="button" class="btn btn-primary" style="margin-right:5px;" asp-controller="Pessoa" asp-action="Index">Voltar</a>

</div>
<div>
    <table class="table">
       
            
                <td scope="col">Nome</td>
                <td scope="col">Sobrenome</td>
                <td scope="col">UserName</td>
                <td scope="col">Password</td>
                <td scope="col">Id Endereco</td>
                <td scope="col">CPF</td>
                <td scope="col">Role</td>
                <td scope="col"></td>
            
        
    </<table>

</div>