@model Academia
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cadastrar Academia";
}

<div id="Editar_Pessoa" class="component" style="display:flex; flex-direction:row; justify-content:space-around">
    <h4>Cadastrar</h4>
    <a role="button" class="btn btn-primary" style="margin-right:5px;" asp-controller="Pessoa" asp-action="Index">Voltar</a>

</div>
<div>
    <div style="display:flex; flex-direction:row; align-items:flex-end;">
    </div>
    <form asp-controller="Academia" asp-action="Cadastrar" method="post">
        <div class="form-group">
            <label for="Cnpj">CNPJ</label>
            <input type="text" asp-for="Cnpj" class="form-control" placeholder="Digite o Cnpj">
        </div>
        <div class="form-group">
            <label for="Nome">Sobrenome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome">
        </div>
        <div class="form-group">
            <label for="Endereco">Endereco</label>
            <input type="text" asp-for="EnderecoId" class="form-control" placeholder="Digite o ID do Endereço">
        </div>
        <div class="form-group">
            <label for="CnpjRede">CnpjRede</label>
            <input type="text" asp-for="CnpjRede" class="form-control" placeholder="Digite o CNPJ Rede">
        </div>
        <div class="form-group">
            <label for="Endereco">Endereco</label>
            <input type="text" asp-for="Endereco" class="form-control" placeholder="Digite o Endereço">
        </div>
        <div class="form-group">
            <label for="Rede">Rede</label>
            <input type="text" asp-for="Rede" class="form-control" placeholder="Digite a Rede">
        </div>
       
        <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    </form>
</div>