@model PessoaUpdateModel
@{
    ViewData["Title"] = "Editar";
}

<div id="Editar_Pessoa" class="component" style="display:flex; flex-direction:row; justify-content:space-around">
    <h4>Editar User: CPF</h4>
    <a role="button" class="btn btn-primary" style="margin-right:5px;" asp-controller="Pessoa" asp-action="Index">Voltar</a>
</div>
<div>
    <form asp-controller="Pessoa" asp-action="Editar" method="post" class="form">
        <input type="hidden" asp-for="CPF" />
        <div class="form-group">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="form-group">
            <label for="sobrenome" class="form-label">Sobrenome</label>
            <input type="text" asp-for="Sobrenome" class="form-control" placeholder="Digite o seu sobrenome">
            @Html.ValidationMessageFor(x => x.Sobrenome)
        </div>
        <div class="form-group">
            <label for="ultimonome" class="form-label">Ultimo nome</label>
            <input type="text" asp-for="UltimoNome" class="form-control" placeholder="Digite o seu ultimo nome">
            @Html.ValidationMessageFor(x => x.UltimoNome)
        </div>

        <div class="form-group">
            <label for="enderecoId" class="form-label">Endereço Id</label>
            <input type="text" asp-for="EnderecoId" class="form-control" placeholder="Digite o endereço do contato">
            @Html.ValidationMessageFor(x => x.EnderecoId)
        </div>

        <button type="submit" class="btn btn-primary btn-block">Alterar</button>
        <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Pessoa" role="button">Voltar</a>
    </form>
</div>