@model Endereco
@{
    ViewData["Title"] = "Cadastrar endereco";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <button id="btn_Listar" class="btn btn-primary btn-block">Listar</button>
            </div>
            <div class="col">
                <button id="btn_Cadastrar" class="btn btn-primary btn-block">Cadastrar</button>
            </div>
            <div class="col">
               <button id="btn_Editar" class="btn btn-primary btn-block">Editar</button>
            </div>
        </div>
    </div>
</div>
<!-- Div de Componentes -->
<div id="components" style="margin-top:30px">
    <!-- Listar Endereço -->
    <div id="Listar_Endereco" class="component" style="display: flex;">
        <p>Conteúdo de Listar Endereco</p>
    </div>

    <!-- Cadastrar Endereço -->
    <div id="Cadastrar_Endereco" class="component" style="display: none;">
        
               <form asp-controller="Endereco" asp-action="Criar" method="post">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" asp-for="Id" class="form-control" placeholder="Digite o id">
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" asp-for="Cidade" class="form-control" placeholder="Digite a cidade">
            </div>
            <div class="form-group">
                <label for="rua">Rua</label>
                <input type="text" asp-for="Rua" class="form-control" placeholder="Digite a rua">
            </div>
            <div class="form-group">
                <label for="numero">Numero</label>
                <input type="text" asp-for="Numero" class="form-control" placeholder="Digite o número">
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" asp-for="Estado" class="form-control" placeholder="Digite o estado">
            </div>
            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text" asp-for="Bairro" class="form-control" placeholder="Digite o bairro">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
        </form>
    </div>

    <!-- Editar Endereço -->
    <div id="Editar_Endereco" class="component" style="display: none;">
        <p>Conteúdo de Editar Endereco</p>
    </div>
</div>

<script>
    // Função para exibir o componente correspondente
    function exibeComponente(index) {
        var componentes = document.querySelectorAll('.component');
        componentes.forEach((comp, idx) => {
            if (idx === index) {
                comp.style.display = "flex";
            } else {
                comp.style.display = "none";
            }
        });
    }

    // Adiciona event listeners aos botões
    document.getElementById("btn_Listar").addEventListener("click", function() {
        exibeComponente(0); // Exibe Listar_Endereco
    });

    document.getElementById("btn_Cadastrar").addEventListener("click", function() {
        exibeComponente(1); // Exibe Cadastrar_Endereco
    });

    document.getElementById("btn_Editar").addEventListener("click", function() {
        exibeComponente(2); // Exibe Editar_Endereco
    });

</script>