@model RedeUpdateModel
@{
    ViewData["Title"] = "Editar Rede";
}

<div class="component" style="display:flex; flex-direction:row; justify-content:space-around">
    <h4>Editar Rede : @Model.Cnpj</h4>
    <a role="button" class="btn btn-primary" style="margin-right:5px;" asp-controller="Rede" asp-action="Index">Voltar</a>
</div>
<div>
    <form asp-controller="Rede" asp-action="Editar" method="post" class="form">
        <input type="hidden" asp-for="Cnpj" />

        <div class="form-group">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome da rede">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>

        <div class="form-group">
            <label for="enderecoId" class="form-label">Endereço Id</label>
            <input type="text" asp-for="EnderecoId" class="form-control" placeholder="Digite o endereço id">
            @Html.ValidationMessageFor(x => x.EnderecoId)
        </div>

        <button type="submit" class="btn btn-primary btn-block">Alterar</button>
        <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Rede" role="button">Voltar</a>
    </form>
</div>
